@import url("https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700,800,900&display=swap");
body, html {
  margin: 0;
}

body {
  height: 100%;
  font-family: 'Montserrat';
  display: none;
}

header {
  position: absolute;
  padding: 1em 3em;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(100% - 6em);
  background: white;
  font-size: 16px;
}

header a {
  text-decoration: none;
  color: black;
}

header a.logo {
  font-weight: bold;
  text-transform: uppercase;
}

header a.logo span {
  text-transform: none;
}

header nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin: 0;
  margin-right: .5rem;
  padding: 0;
}

header nav ul li a {
  text-transform: uppercase;
  font-weight: 600;
  padding-left: 2em;
  font-size: 16px;
  -webkit-transition: all .4s;
  transition: all .4s;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header nav ul li a:after {
  display: block;
  content: '';
  border-bottom: solid 2px black;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

header nav ul li a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

.wrapper section {
  padding: 4em 3em;
}

.wrapper section h1, .wrapper section h2, .wrapper section .read-btn {
  text-transform: uppercase;
  margin: 0;
}

.wrapper section h2 {
  font-size: 1.4rem;
}

.wrapper section .read-btn {
  text-decoration: none;
  color: black;
  font-weight: bold;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/arrow.svg") no-repeat;
  background-size: 8px;
  background-position: 5px 2px;
  padding-left: 1em;
}

.wrapper section .primary {
  padding: 1.5em 1.5em 1.5em calc(3em + 25px);
  background-position: 3em 1.6em;
  border: 1px solid gray;
  border-left: none;
  display: inline-block;
  margin-top: 3em;
  margin-left: calc(-3em - 1px);
}

.wrapper section .clipper {
  overflow: hidden;
}

.wrapper section.hero {
  padding-top: 8em;
  background: url("../images/hero.jpg");
  background-size: cover;
}

.wrapper section.hero p {
  width: 70%;
  font-size: 1.2rem;
  margin-bottom: 0;
}

.wrapper section.hero h1 {
  font-size: 2.4rem;
}

.wrapper section.sidebar, .wrapper section.subscribe {
  font-size: .9rem;
  line-height: 1.6rem;
}

.wrapper section.sidebar {
  background: #fae05d;
}

.wrapper section.sidebar .read-btn {
  margin-top: 2em;
  display: block;
  background-position: 0 .2em;
}

.wrapper section.subscribe input {
  width: calc(100% - 2em);
  padding: .8em;
  font-family: 'Montserrat';
  margin-bottom: 1em;
}

.wrapper section.subscribe button {
  width: 100%;
  background: black;
  color: white;
  padding: 1em;
  border: none;
  font-family: 'Montserrat';
}

@media only screen and (min-width: 1020px) {
  header {
    background: none;
  }
  header nav {
    margin-right: calc(15% - 175px);
  }
  .wrapper {
    -ms-grid-columns: 70% auto;
        grid-template-columns: 70% auto;
    -ms-grid-rows: 60% auto;
        grid-template-rows: 60% auto;
        grid-template-areas: "hero featured" "hero subscribe";
    height: 100vh;
  }
  section.hero {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: hero;
  }
  section.subscribe {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: subscribe;
  }
  section.featured {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: featured;
  }
  section {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1800px) {
  html p {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */